.chat-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: 'Varela Round', sans-serif;
}

.chat-header {
  display: flex;
  align-items: center;
  padding: 10px;
}

.logo {
  height: 80px;
  margin-left: 35px;
}

.chat-header-info {
  display: flex;
  align-items: center;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.chat-window {
  flex: 1;
  flex-direction: column;
  overflow-y: auto;
  padding: 5px;
}

.chat-bubble {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
  max-width: 70%;
  margin: 5px;
  word-wrap: break-word;
}

.sent {
  align-self: flex-end;
  background-color: #C1ACD1;
  color: #ffffff;
}

.received {
  align-self: flex-start;
  background-color: #f1f1f1;
  color: #000000;
}

.message {
  border-radius: 20px;
  position: relative;
  display: inline-block;
  word-wrap: break-word;
  white-space: pre-wrap; /* Ensure text wraps correctly */
}

.timestamp {
  font-size: 0.75em;
  color: #888;
  margin-top: 5px;
  align-self: flex-start; /* Align timestamps to the left */
}

.date-separator {
  display: flex;
  justify-content: center;
  margin: 5px 0;
  font-size: small;
  font-weight: bold;
  color: #555;
}

.chat-input-container {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f1f1f1;
  border-radius: 20px;
}

textarea {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 20px;
  margin-left: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  resize: none; 
  overflow: hidden; 
}

textarea:focus {
  outline: none; 
}

.BTNsend {
  background-color: #9974B2;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
  margin-right: 5;
}

.BTNsend:hover {
  background-color: #C1ACD1;
}

.pBuble {
  margin: auto;
  text-align: right;
  font-size: medium;
}

.timestamp.sent  {
  font-size: 0.75em;
  color: #e3e3e3;
}

.timestamp.received {
  font-size: 0.75em;
  color: #999;
}

.pBuble button{
  text-align: center;  
}
